<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>date</th>
        <th>contents</th>
        <th>hits</th>
    </tr>
    <tr th:each="board : ${board}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.boardTitle}"></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${board.boardContents}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>
</body>
</html>